* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    width: 80%;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

body, div {
    border: 3px dotted blue;
  }

.header {
    border-top: 15px solid #894aa3;
    display: flex;
}
nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}
.quote {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ebebeb;
}
.flex {
    display: flex;
}
.foto {
    background-color: #333333;
}
div, body, .header, .quote, .foto, .whiteblok, .greyblock, .footer {
    outline: 1px solid red;
  }

.greyblock {
    flex-basis: 33%;
    padding: 2px;
    display: flex;
    background-color: #ebebeb;
}
.slider {
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 300px;
    background-image: url("http://placekitten.com/890/300");
    background-size: cover;
    background-position: center;
    display: flex;

}
.caption {
    background-color: black;
    color: white;
    flex: 0 1 50%;
    padding: 1rem;   
}

.whitebloktop {
    padding: 2px;
}

.thumb {
    padding-right: 5px;
}

.inline, .doublein {
    outline: 1px solid green;
    padding: 5px;
    margin: 10px;
    /* display: flex; */
    background-color: white;
  }

.whiteblok, .whitebloktop {
    display: flex;
  }

.whitebloktop {
    flex-basis: 33%;
    padding: 2px;
}

.columns {
    outline: 1px solid green;
    padding: 5px;
    margin: 10px;
    flex-basis: 25%;
    padding: 2px;
}

.footer {
    background-color: #444444;
    color: white;
}